__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.ipynb_checkpoints/
.DS_Store
data/raw/
data/processed/
data/raw/*
!data/raw/.gitkeep
*.pkl
*.joblib
*.log
.vscode/
.env
models/*.joblib
reports/*.json
reports/*.csv